.fundo-page * {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.fundo-page .login-nav {
  width: 100%;
}

.fundo-page button {
  cursor: pointer;
  background: #3633F7;
  color: #fff;
  padding: 0.688rem;
  border-radius: 2.125rem;
  width: 12.813rem;
  height: 3.5rem;
  margin-top: 1.25rem;
  transition: all 300ms;
  margin-top: 2.813rem;
  border: none;
  font-size: 1.188rem;
  font-weight: bold;
}

.fundo-page button:hover {
  background: rgb(190, 5, 246);
}

.fundo-page {
  background-image: url("../../images/layout1/login-bg.jpg");
  background-image: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fundo-page .loginpage-container {
  width: 33.313rem;
  height: 38rem;
  border-radius: 0.875rem;
  margin-top: 6.8rem;
  margin-right: 0.9rem;
  box-shadow: 0 0 0.625rem rgb(0 0 0 / 20%);
  background: #fff;
  color: rgb(99, 12, 212);
}

.loginpage-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.125rem;
}

.loginpage-container form input {
  height: 2.5rem;
  font-size: 1.3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 0.313rem;
  width: 28.553rem;
  margin-top: 1.563rem;
}

.loginpage-container form label {
  margin-bottom: 1.25rem;
}

.loginpage-container form h1 {
  color: #3634F7;
  margin-top: 4.125rem;
  margin-bottom: 2.438rem;
}

/* responsivo - media query */

@media all and (min-width: 320px) and (max-width: 414px) {
  .fundo-page .loginpage-container {
    width: 21.25rem;
    height: 28.75rem;
  }

  .loginpage-container form input {
    width: 20rem;
  }

  .loginpage-container form h1 {
    margin-top: 0.125rem;
  }
}

@media all and (min-width: 415px) and (max-width: 768px) {
  .fundo-page .loginpage-container {
    width: 22.313rem;
    height: 29rem;
  }

  .loginpage-container form input {
    width: 19.553rem;
  }

  .loginpage-container form {
    margin-top: 0;
  }
}