html {
    font-size: 3.865vw; /*based on the proportion of 16px to the specified layout screen size of  414, this will change the default value of rem unit of you page*/
}

div.nav-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
}

.nav-menu .logo-img {
    width: 8.125rem;
    height: 1.438rem;
    
}

.nav-menu nav.app-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

}

nav.app-nav .nav-link {
    width: 6.625rem;
    height: 1.875rem;
    background-color: #D842BD;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.438rem;
    letter-spacing: 0.094rem;
    box-shadow: 0px 0.188rem 0.375rem #5538EE29;
    border-radius: 1.563rem;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

nav.app-nav .margin-between-bluepink {
    width: 0.813rem;
}

nav.app-nav .nav-link.blue-link {
    background-color: #3633F7;
}

nav.app-nav .nav-link.hide-link {
    display: none;
}

nav.app-nav .nav-link img {
    width: 0.625rem;
    height: 0.625rem;
    margin-right: 0.488rem;
}

@media screen and (min-width: 660px){
    html {
        font-size: 0.833vw; /*based on the proportion of 16px to the specified layout screen size of  1920, this will change the default value of rem unit of you page*/
    }

    div.nav-menu {
        padding: 2.25rem 4rem;
    }
    
    .nav-menu .logo-img {
        width: 14.938rem;
        height: 2.625rem;
    }
    
    nav.app-nav .nav-link {
        width: 10.625rem;
        height: 3.063rem;
        font-size: 0.813rem;
        letter-spacing: 0.159rem;
    }
    
    nav.app-nav .margin-between-bluepink{
        width: 2.188rem;
    }
    
    nav.app-nav .nav-link img {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.488rem;
    }
}