/* Configs em comum */
.footerBackground{
    background-color: #D842BD;
    display: flex;
    align-items: center;
    height: 12.5rem;
    justify-content: center;
}
.footerText{
    color: #FFFFFF;
    
    font-family: 'Rubik', sans-serif;
}
/* Desktop */
.footerTextDesktop{
    font-size:1.5625rem;
}
/* Mobile */
.footerTextMobile{
    font-size:0.625rem;
}